<p> Gerente - {{managerEditado.id}}</p>
<div class="content">
  <form>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" [(ngModel)]="managerEditado.name" class="form-control" name ="nome" id="nome" aria-describedby="nome" placeholder="Entre com Nome">
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" [(ngModel)]="managerEditado.password" class="form-control" name="senha" id="senha" placeholder="Senha">
    </div>
    <div class="form-group">
      <label for="fone">Fone</label>
      <input type="tel" [(ngModel)]="managerEditado.fone" class="form-control" name="fone" id="fone" aria-describedby="fone" placeholder="Entere com telefone">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" [(ngModel)]="managerEditado.email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Entre com email">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" [(ngModel)]="managerEditado.admin" [ngModelOptions]="{standalone: false}"class="form-check-input" name="admin" id="admin">
      <label class="form-check-label" for="admin">Admin</label>
    </div>
    <button type="submit" (click)="salvar()" class="btn btn-primary">Salvar</button>
    <button type="button" (click)="voltar()" class="btn btn-danger">Voltar</button>
  </form>
</div>

